#my{
    background-color: tomato;
    color: blueviolet;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Amra{
    color: palevioletred;
    background-color: blueviolet;

}